<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Todo list</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Vue development version -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app"></div>
  <script>

    Vue.component('todo-item', {
      props: ['todo'],
      template: `<li
          class="todo-item todo-item-wrapper"
          :class="{ completed: todo.completed }"
          @click="$emit('complete-todo')">
            <span>{{ todo.data }}</span>
      </li>`
    });

    Vue.component('todo-action', {
      props: ['type', 'selectedFilterType'],
      template: `<button
                  @click="$emit('select-filter-type')"
                  :class="{active: selectedFilterType === type}">{{ type }}</button>`
    });

    new Vue({
      el: '#app',
      data: {
        newTodo: '',
        todos: [
          { id: '1', data: "learn vue", completed: true },
          { id: '2', data: "learn more Vue", completed: false }
        ],
        filterType: 'all'
      },
      template: `
        <main>
          <h2>TODO LIST</h2>
          <div class="todo-input-wrapper todo-item-wrapper">
              <input 
                placeholder="What needs to be done?" 
                type="text" 
                v-model="newTodo" 
                @keyup.enter="addTodo" />
          </div>
          <ul class="todo-list-wrapper" v-show="todos.length > 0">
            <todo-item
              v-for="todo in filteredTodos"
              @complete-todo="completeTodo(todo.id)"
              :todo="todo"
              :key="todo.id">
            </todo-item>
          </ul>
          <div class="todo-item-wrapper todo-actions" v-show="todos.length > 0">
            <div class="items-left">
              <p>{{ uncompleteTodosText }}</p>
            </div>
            <div class="items-actions">
              <todo-action 
                :type="'all'" 
                :selectedFilterType="filterType"
                @select-filter-type="setTodoFilterType('all')"></todo-action>
              <todo-action 
                :type="'active'" 
                :selectedFilterType="filterType" 
                @select-filter-type="setTodoFilterType('active')"></todo-action>
              <todo-action 
                :type="'complete'" 
                :selectedFilterType="filterType" 
                @select-filter-type="setTodoFilterType('complete')"></todo-action>
            </div>
            <div class="clear-completed" @click="clearCompletedTodos">
              <button>Clear completed</button>
            </div>
          </div>
        </main>
      `,
      computed: {
        uncompleteTodosText: function () {
          const uncompleteTodos = this.filteredTodos.filter(todo => !todo.completed);
          return uncompleteTodos.length === 1 ? '1 item left' : `${uncompleteTodos.length} items left`;
        },
        filteredTodos: function () {
          switch (this.filterType) {
            case 'all':
              return this.todos;
              break;
            case 'active':
              return this.todos.filter(todo => !todo.completed);
            case 'complete':
              return this.todos.filter(todo => todo.completed);
            default:
              return this.todos;
              break;
          }
        }
      },
      methods: {
        addTodo: function () {
          this.todos.push({ data: this.newTodo, id: new Date().getTime(), completed: false });
          this.newTodo = '';
        },
        completeTodo: function (completedTodoId) {
          this.todos = this.todos.map(todo => todo.id === completedTodoId ? { ...todo, completed: !todo.completed } : todo);
        },
        setTodoFilterType: function (selectedFilter) {
          this.filterType = selectedFilter;
        },
        clearCompletedTodos: function () {
          this.todos = this.todos.filter(todo => !todo.completed);
        }
      }
    })
  </script>
</body>

</html>