<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Todo list</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Vue development version -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app"></div>
  <script>

    Vue.component('todo-item', {
      props: ['todo'],
      template: `<li
          class="todo-item todo-item-wrapper"
          v-bind:class="{ completed: todo.completed }"
          v-on:click="$emit('complete-todo')">
            <span>{{ todo.data }}</span>
      </li>`
    });

    new Vue({
      el: '#app',
      data: {
        newTodo: '',
        todos: [
          {id: '1', data: "learn vue", completed: true},
          {id: '2', data: "learn more Vue", completed: false}
        ]
      },
      template: `
        <main>
          <h2>TODO LIST</h2>
          <div class="todo-input-wrapper todo-item-wrapper">
              <input 
                placeholder="What needs to be done?" 
                type="text" 
                v-model="newTodo" 
                @keyup.enter="addTodo" />
          </div>
          <ul class="todo-list-wrapper" v-show="todos.length > 0">
            <todo-item
              v-on:complete-todo="completeTodo(todo.id)"
              v-for="todo in todos"
              v-bind:todo="todo"
              v-bind:key="todo.id">
            </todo-item>
          </ul>
        </main>
      `,
      methods: {
        addTodo: function () {
          this.todos.push({data: this.newTodo, id: new Date().getTime(), completed: false});
          this.newTodo = '';
        },
        completeTodo: function(completedTodoId) {
          this.todos = this.todos.map(todo => todo.id === completedTodoId ? {...todo, completed: !todo.completed} : todo);
        }
      }
    })
  </script>
</body>

</html>